.container
  .row
    .col-xs-4
      %h2 Log in
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = devise_error_messages!
        .form-group.row
          = f.label :email, class: 'column-xs-12'
          = f.input :email, label: false, autofocus: true, class: 'form-control column-xs-12'
        .form-group.row
          = f.label :password, class: 'column-xs-12'
          = f.password_field :password, label: false, autocomplete: 'off', class: 'form-control column-xs-12'
        - if devise_mapping.rememberable?
          .form-group.row
            = f.input :remember_me, as: :boolean, class: 'column-xs-12'
        .form-group.row
          = f.submit 'Log in', class: 'btn btn-primary btn-block'
      = render "devise/shared/links"
