.row
  .col-sm-4.section
    .card
      = image_tag 'placeholder.png', class: 'card-img-top card-image'
      .card-block.text-xs-center
        %h3.card-title Books
        %p.card-text Manage your books or create new one
        = link_to 'Show books', books_path, class: 'btn btn-outline-primary'
        = link_to 'Create new book', new_book_path, class: 'btn btn-outline-primary'
  .col-sm-4.section
    .card
      = image_tag 'placeholder.png', class: 'card-img-top card-image'
      .card-block.text-xs-center
        %h3 Section 2
  .col-sm-4.section
    .card
      = image_tag 'placeholder.png', class: 'card-img-top card-image'
      .card-block.text-xs-center
        %h3 Section 3
