.col-sm-3.section
  .card
    = image_tag book.cover, class: 'card-img-top card-image'
    .card-block.text-xs-center
      %h3.card-title.book__title
        = book.title
      %h4.cart-subtitle.text-muted.book__subtitle
        = book.subtitle
      %p.card-text
        = book.short_description
      = link_to fa_icon('plus-square', text: 'Add to Library'), add_to_library_book_path(book)
