.review
  .col-sm-2.review__user
    = review.user.username
  .col-sm-2.review__rating
    = review.rating
  .col-sm-8.review__content
    = review.content
    - if review.user == current_user
      = link_to fa_icon('edit'), edit_book_review_path(review.book, review)
      = link_to fa_icon('remove'), book_review_path(review.book, review), method: :delete
