.container
  .row
    .col-sm-12
      %h2 Edit book
      = simple_form_for @book do |f|
        .row
          .col-sm-6
            .form-group
              = f.input :title, class: 'form-control'
            .form-group
              = f.input :subtitle, class: 'form-control'
            .form-group
              = f.input :short_description, class: 'form-control'
            .form-group
              = f.input :genre_ids, collection: Genre.all.sort_by(&:name), selected: @book.model.genres.map(&:id), label_method: :name, input_html: { multiple: true }
            .form-group
              = f.input :cover, as: :file, class: 'form-control'
          .col-sm-6
            .form-group
              = f.input :description, as: :text, input_html: { class: 'form-control', rows: 12 }
        .row
          .col-sm-12
            = f.submit 'Update book', class: 'btn btn-success'
