= simple_form_for [@book, @chapter, @part, @decision_point] do |f|
  .row
    .col-sm-12
      .form-group
        = f.input :question
  #answers
    = f.simple_fields_for :answers do |answer|
      = render 'answer_fields', f: answer
    .links
      = link_to_add_association fa_icon('plus'), f, :answers, class: 'btn btn-info answer__button-add'
  .row
    .col-sm-12
      .form-group
        = f.submit "#{params[:action].capitalize} decision point", class: 'btn btn-success'
