!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Webbooks
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %div.container
      - if flash.any?
        %div.row.alerts
          %div.col-sm-12
            - if flash.notice
              %div.alerts__notice.alert.alert-success
                = notice
            - if flash.alert
              %div.alerts__alert.alert.alert-danger
                = alert
      = yield
