!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Webbooks
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render partial: 'partials/navbar'
    %div.container
      - if flash.any?
        %div.row.alerts
          %div.col-sm-12
            %div.alert.alert-dismissable.fade.in{ class: "alert-#{flash_type(flash)}", role: 'alert' }
              %button.close{ data: { dismiss: 'alert' }, aria: { label: 'Close' } }
                %span{ aria: { hidden: true } }
                  &times;
              - if flash.notice
                = notice
              - if flash.alert
                = alert
      = yield
